alembic==1.15.2
bcrypt==4.2.1
beautifulsoup4==4.13.3
celery[redis]==5.4.0
email-validator==2.2.0
fastapi==0.115.12
firebase-admin==6.8.0
google-genai==1.10.0
httpx==0.28.1
passlib[bcrypt]==1.7.4
playwright==1.52.0
pydantic==2.11.1
pydantic-settings==2.8.1
psycopg[binary]==3.2.6
pytest==8.3.5
python-jose[cryptography]==3.3.0
python-multipart==0.0.20
ruff==0.11.5
sentry-sdk==2.26.1
sqlalchemy==2.0.39
uvicorn[standard]==0.34.0
